@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("./header.css");
@import url("./carousel.css");
@import url("./card.css");
@import url("./topics.css");
@import url("./contact.css");
@import url("./footer.css");

:root {
    --background-color: #EBECEE;
    --white: #FFFFFF;
    --highlight: #EB9B00;
    --bold: #002F52;
    --light-gray: #F9F9F9;
    --medium-gray: #474646;
    --dark-gray: #411717;
    --black: #000000;
    --gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --main-font: "Poppins", arial;
    --logo-font: "Josefin Sans";
}



body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}